---

services:
    # default configuration for services in *this* file
    _defaults:
        public: false
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    SimpleSAML\Module\casserver\Controller\:
        resource: '../../src/Controller/*'
        exclude:
            - '../../src/Controller/Traits/*'
        public: true
        tags: ['controller.service_arguments']

    # Explicit service definitions for CasServer Controllers
    SimpleSAML\Module\casserver\Controller\Cas10Controller:
        public: true

    SimpleSAML\Module\casserver\Controller\LogoutController:
        public: true

    SimpleSAML\Module\casserver\Controller\LoggedOutController:
        public: true