<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="The project's test suite">
            <directory>./vendor/simplesamlphp/simplesamlphp-test-framework/src</directory>
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./lib</directory>
        </whitelist>
    </filter>
</phpunit>
