{% set pagetitle = 'Logged in'|trans %}
{% extends "base.twig" %}

{% block content %}
    <h2>{{ pagetitle }}</h2>

    <p>{{ 'You are logged in.'|trans }}</p>
{% endblock %}

{% block postload %}
{% if autofocus is defined %}
    <script type="text/javascript">window.onload = function() {document.getElementById('{{ autofocus }}').focus();}</script>
{% endif %}
{% endblock %}
