{% set pagetitle = '{casserver:casserver:loggedin_header}'|trans %}
{% extends "base.twig" %}

{% block content %}
    <h2>{{ pagetitle }}</h2>

    <p>{{ '{casserver:casserver:loggedin_description}'|trans }}</p>
{% endblock %}

{% block postload %}
{% if autofocus is defined %}
    <script type="text/javascript">window.onload = function() {document.getElementById('{{ autofocus }}').focus();}</script>
{% endif %}
{% endblock %}
